@use "./base.scss";
@use "../styles/variables.scss" as *;

// put your custom CSS here!

.page-title::after {
    content: "Alpha";
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    background: var(--lightgray);
    color: var(--gray);
    padding: 0.2em 0.6em;
    border-radius: 3px;
    margin-top: 0.382rem;
    width: fit-content;
}


@media all and ($mobile) {
    .search .search-button>p {
        display: none;
    }

    .search .search-button {
        padding: 0;
        width: 2rem;
    }

    .search .search-button {
        border: none;
        margin-right: -4px;
    }
}

@media all and ($mobile) {
  #quartz-body > div.left.sidebar > div.flex-component {
    margin-right: 0.5rem;
    gap: 0.5rem;
    padding: 0 0.25rem;
  }
}